<div>
  <%= link_to "##{challenge.position}", challenge_path(challenge) %> - Level <%= challenge.level  %>
  - Topic: <%= challenge.topic %> - <%= truncate challenge.question, length: 30, omission: "..." %>
</div>
